.venv/
.env

__pycache__/
*.pyc

data/naukri-browser/
data/naukri-storage-state.json

logs/

.idea/
.vscode/

*.log
data/naukari-browser/
data/naukri-storage-state-min.json

data/storage_state.json
export_storage.py
test_storage.py
